<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
    <section class="section-center">
        <div class="form">
          <h3 id="title">room easy</h3>
          <div class="form-control">
            <label type="text" for="residence"></label>
            <select name="rez" id="residence">
                <option value="new-rez" class="option">New Rez</option>
                <option value="rvc" class="option">RVC</option>
                <option value="solin-hall" class="option">Solin Hall</option>
                <option value="c4" class="option">C4</option>
                <option value="upper-rez" class="option">Upper Rez</option>
            </select>
            <button type="submit" class="submit-btn"><a href="/q1">submit</a></button>
          </div>
        </div>
    </nav>
<<<<<<< HEAD
=======
    
>>>>>>> 79dafe0a6202ec268f2d871f99724b2460470eb3

    <div> 
        <h1 class="link"><a href="/createUser"> Create a user   </a></h1>
        <h1 class="link"><a href="/displayUser"> Go to user list   </a></h1>
    </div>

</body>
</html>