<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/styles/layout.css">
  <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <h1>Roommate Matcher</h1>
        </div>
    </nav>
    <main>
        <div class="container">
            <tr>
                <td>
                    Choose your residence
                </td>
                <td>
                    <select>
                        <option>--Your residence--</option>
                        <option>Rez0</option>
                        <option>Rez1</option>
                        <option>Rez2</option>
                        <option>Rez3</option>
                        <option>Rez4</option>
                        <option>Rez5</option>
                    </select>
                </td>
            </tr>
        </div>
    </main>
</body>
</html>