<!DOCTYPE html>
<html lang="en">

<head>
  <title>Homepage</title>
  <%- include('partials/_head') %>
</head>

<body>
  <section class="section-center">
    <div class="form">
      <h3 id="title">room easy</h3>
      <p class="tagline">Your perfect roommate match is a short quiz away!</p>
      <div class="form-control">
        <a href="/login"><button class="login-signup" type="button">Log in</button></a>
        <a href="/signup"><button class="login-signup" type="button">Sign Up</button></a>
      </div>
    </div>
    </nav>
</body>
</html>