<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
    <section class="section-center">
        <div class="form">
          <h3>roommate matcher</h3>
          <div class="form-control">
            <label type="text" for="residence"></label>
            <select name="rez" id="residence">
                <option value="rez0" class="option">Rez 0</option>
                <option value="rez1" class="option">Rez 1</option>
                <option value="rez2" class="option">Rez 2</option>
                <option value="rez3" class="option">Rez 3</option>
            </select>
            <button type="submit" class="submit-btn"><a href="/profile">submit</a></button>
          </div>
        </div>
      </section>
</body>
</html>