<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <%- include('partials/_head') %>
</head>

<body>
  <section class="section-center">
    <div class="form">
      <h3 id="title">Log In</h3>
      <p class="login-tagline">Already have an account?<br>Log in now to view your roommate match!</p>
      <form action="/login" method="POST">
        <div class="email-password">
          <div class="email-form">
            <label class="login-form-label" for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email address">
          </div>
          <div class="password-form">
            <label class="login-form-label" for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
        </div>
        <button type="submit" class="login-signup">Submit</button>
      </form>
    </div>
    </nav>
</body>
</html>