<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> What is your gender?</p>
    <form>

    
    <div>
      <input type="checkbox" id="male" name="male" class="option">
      <label for="male">Male</label>
    </div>
    <div>
      <input type="checkbox" id="female" name="female">
      <label for="female">Female</label>
    </div>
    <div>
      <input type="checkbox" id="nb" name="nb">
      <label for="nb">Non-binary</label>
    </div>
    <div>
      <input type="checkbox" id="tran" name="tran">
      <label for="tran">Transgender</label>
    </div>
    <div>
      <input type="checkbox" id="inter" name="inter">
      <label for="inter">Intersex</label>
    </div>
    <div>
      <input type="checkbox" id="na" name="na">
      <label for="na">I prefer not to say</label>
    </div>
    </form>

  </div>

  <button class="q2btn"><a href="/q2">Next</a></button>

</body>
</html>