<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> Your favorite movie genres?</p>
    <form>
    
    <div>
      <input type="checkbox" id="drama" name="drama">
      <label for="drama">Drama</label>
    </div>
    <div>
      <input type="checkbox" id="action" name="action">
      <label for="action">Action</label>
    </div>
    <div>
      <input type="checkbox" id="Horror" name="Horror">
      <label for="Horror">Horror</label>
    </div>
    <div>
      <input type="checkbox" id="comedy" name="comedy">
      <label for="comedy">Comedy</label>
    </div>
    <div>
      <input type="checkbox" id="thrill" name="thrill">
      <label for="thrill">Thriller</label>
    </div>
    <div>
      <input type="checkbox" id="sci" name="sci">
      <label for="sci">Sci-Fi</label>
    </div>
    <div>
      <input type="checkbox" id="crime" name="crime">
      <label for="crime">Crime</label>
    </div>
    <div>
      <input type="checkbox" id="romance" name="romance">
      <label for="romance">Romance</label>
    </div>
    <div>
      <input type="checkbox" id="music" name="music">
      <label for="music">Musical</label>
    </div>

   
    </form>
    <div class="buttons">
       <button class="prevbtn"><a href="/q9">Prev</a></button>
        <button class="nextbtn"><a href="/q11">Next</a></button> 
    </div>
    
    
  </div>

</body>
</html>