<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> What is your major?</p>
    <form>
    
    <div>
      <input type="checkbox" id="straight" name="straight" class="option">
      <label for="straight">Straight</label>
    </div>
    <div>
      <input type="checkbox" id="gay" name="gay">
      <label for="gay">Gay</label>
    </div>
    <div>
      <input type="checkbox" id="lesbian" name="lesbian">
      <label for="lesbian">Lesbian</label>
    </div>
    <div>
      <input type="checkbox" id="asex" name="asex">
      <label for="asex">Asexual</label>
    </div>
    <div>
      <input type="checkbox" id="pan" name="pan">
      <label for="pan">Pansexual</label>
    </div>
    <div>
      <input type="checkbox" id="na" name="na">
      <label for="na">I prefer not to say</label>
    </div>
    </form>
    <div class="buttons">
       <button class="prevbtn"><a href="/q2">Prev</a></button>
        <button class="nextbtn"><a href="/q4">Next</a></button> 
    </div>
    
    
  </div>

</body>
</html>