<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> What is your major?</p>
    <form>
    
    <div>
      <input type="checkbox" id="bus" name="bus">
      <label for="bus">Business</label>
    </div>
    <div>
      <input type="checkbox" id="econ" name="econ">
      <label for="econ">Economics</label>
    </div>
    <div>
      <input type="checkbox" id="edu" name="edu">
      <label for="edu">Education</label>
    </div>
    <div>
      <input type="checkbox" id="eng" name="eng">
      <label for="eng">Engineering</label>
    </div>
    <div>
      <input type="checkbox" id="env" name="env">
      <label for="env">Environment</label>
    </div>
    <div>
      <input type="checkbox" id="health" name="health">
      <label for="health">Health</label>
    </div>
    <div>
        <input type="checkbox" id="soc" name="soc">
        <label for="soc">Social Science</label>
    </div>
    <div>
        <input type="checkbox" id="lang" name="lang">
        <label for="lang">Languages</label>
    </div>
    <div>
        <input type="checkbox" id="math" name="math">
        <label for="math">Mathematics</label>
    </div>
    <div>
        <input type="checkbox" id="comp" name="comp">
        <label for="comp">Computer Science</label>
    </div>
    <div>
        <input type="checkbox" id="music" name="music">
        <label for="music">Music</label>
    </div>
    <div>
        <input type="checkbox" id="law" name="law">
        <label for="law">Law</label>
    </div>
    <div>
        <input type="checkbox" id="sci" name="sci">
        <label for="sci">Pure and Applied Science</label>
    </div>
    </form>
    <div class="buttons">
       <button class="prevbtn"><a href="/q2">Prev</a></button>
        <button class="nextbtn"><a href="/q4">Next</a></button> 
    </div>
    
    
  </div>

</body>
</html>