<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> What time do you often go to bed?</p>
    <form>
    
    <div>
      <input type="checkbox" id="10" name="10">
      <label for="10">Before 10PM</label>
    </div>
    <div>
      <input type="checkbox" id="12" name="12">
      <label for="12">Before 12PM</label>
    </div>
    <div>
      <input type="checkbox" id="2" name="2">
      <label for="2">Before 2AM</label>
    </div>
    <div>
      <input type="checkbox" id="4" name="4">
      <label for="4">Before 4AM</label>
    </div>
    <div>
      <input type="checkbox" id="na" name="na">
      <label for="na">Not sure</label>
    </div>
    </form>
    <div class="buttons">
       <button class="prevbtn"><a href="/q3">Prev</a></button>
        <button class="nextbtn"><a href="/q5">Next</a></button> 
    </div>
    
    
  </div>

</body>
</html>