<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> Do you smoke?</p>
    <form>
    
    <div>
      <input type="checkbox" id="yes" name="yes">
      <label for="yes">Yes</label>
    </div>
    <div>
      <input type="checkbox" id="no" name="no">
      <label for="no">No</label>
    </div>
    </form>
    <div class="buttons">
       <button class="prevbtn"><a href="/q4">Prev</a></button>
        <button class="nextbtn"><a href="/q6">Next</a></button> 
    </div>
    
    
  </div>

</body>
</html>