<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> Do you drink?</p>
    <form>
    
    <div>
      <input type="checkbox" id="always" name="always">
      <label for="always">Always</label>
    </div>
    <div>
      <input type="checkbox" id="occ" name="occ">
      <label for="occ">Occasionally</label>
    </div>
    <div>
      <input type="checkbox" id="never" name="never">
      <label for="never">Never</label>
    </div>
    </form>
    <div class="buttons">
       <button class="prevbtn"><a href="/q5">Prev</a></button>
        <button class="nextbtn"><a href="/q7">Next</a></button> 
    </div>
    
    
  </div>

</body>
</html>