<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> Which one do you prefer?</p>
    <form>
    
    <div>
      <input type="checkbox" id="out" name="out">
      <label for="out">Hanging out with roommates</label>
    </div>
    <div>
      <input type="checkbox" id="in" name="in">
      <label for="in">Spending more time alone</label>
    </div>
    
   
    </form>
    <div class="buttons">
       <button class="prevbtn"><a href="/q7">Prev</a></button>
        <button class="nextbtn"><a href="/q9">Next</a></button> 
    </div>
    
    
  </div>

</body>
</html>