<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/_head') %>
</head>
<body>
  
  <div class="question">
    <p> Your favorite music genres?</p>
    <form>
    
    <div>
      <input type="checkbox" id="rock" name="rock">
      <label for="rock">Rock</label>
    </div>
    <div>
      <input type="checkbox" id="pop" name="pop">
      <label for="pop">Pop Music</label>
    </div>
    <div>
      <input type="checkbox" id="kpop" name="kpop">
      <label for="kpop">K-Pop</label>
    </div>
    <div>
      <input type="checkbox" id="hiphop" name="hiphop">
      <label for="hiphop">Hip Hop</label>
    </div>
    <div>
      <input type="checkbox" id="jazz" name="jazz">
      <label for="jazz">Jazz</label>
    </div>
    <div>
      <input type="checkbox" id="emusic" name="emusic">
      <label for="emusic">Electronic Music</label>
    </div>
    <div>
      <input type="checkbox" id="metal" name="metal">
      <label for="metal">Metal</label>
    </div>
    <div>
      <input type="checkbox" id="rnb" name="rnb">
      <label for="rnb">R&B</label>
    </div>
    <div>
      <input type="checkbox" id="Punk" name="Punk">
      <label for="Punk">Punk</label>
    </div>
    <div>
      <input type="checkbox" id="country" name="country">
      <label for="country">Country Music</label>
    </div>
    <div>
      <input type="checkbox" id="classic" name="classic">
      <label for="classic">Classical Music</label>
    </div>
   
    </form>
    <div class="buttons">
       <button class="prevbtn"><a href="/q8">Prev</a></button>
        <button class="nextbtn"><a href="/q10">Next</a></button> 
    </div>
    
    
  </div>

</body>
</html>