<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign Up</title>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/signup.css">
</head>

<body>
  <section class="section-center">
    <div class="form">
      <h3 id="title">Sign Up</h3>
      <p class="login-tagline">Ready to register?<br>Sign up to match with your perfect roommate!</p>
      <form action="/signup" method="POST">
        <div class="email-password">

          <div class="first-name-form">
            <label class="login-form-label" for="first-name">First Name:</label>
            <input type="text" id="first-name" placeholder="First Name">
          </div>
          
          <div class="last-name-form">
            <label class="login-form-label" for="last-name">Last Name:</label>
            <input type="text" id="last-name" placeholder="Last Name">
          </div>
          
          <div class="student-id-form">
            <label class="login-form-label" for="student-id">Student ID:</label>
            <input type="text" id="student-id" placeholder="Student ID">
          </div>

          <div class="email-form">
            <label class="login-form-label" for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email address">
          </div>

          <div class="password-form">
            <label class="login-form-label" for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
          
          <div class="confirm-password-form">
            <label class="login-form-label" for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="password" placeholder="Confirm Password">
          </div>

        </div>
        <button type="submit" class="login-signup">Submit</button>
      </form>
    </div>
    </nav>
</body>
</html>