  <div> 
    <h1><a href="/userList"> Go to user list   </a></h1>
  </div>
  <form action="/user" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="time" name="time">
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>