@import url("https://fonts.googleapis.com/css?family=Open+Sans|Dongle&display=swap");
:root {
  --clr-primary-1: #49a6e9;
  --clr-primary-2: hsl(22, 71%, 71%);

  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  

  --clr-black: #222;
  --ff-primary: "Dongle", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.2s linear;
  --spacing: 0.25rem;
  --radius: 1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--ff-secondary);
  background: #6BBCC7;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 0.5;
  margin-bottom: 2rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  font-family: var(--ff-primary);
  color: var(--clr-primary-2);
  text-align: center;
  font-size: 3rem;
}

#title {
  margin-top: 1rem;
}

form {
  margin-left: 10px;
  text-align: center;
}

.tagline {
  color: var(--clr-primary-2);
  font-family: var(--ff-secondary);
  font-size: 23px;
  text-align: center;
  margin-bottom: 35px;
}

label {
  color: var(--clr-primary-2);
  font-family: var(--ff-primary);
  font-size: 3rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 10rem;

  background: white;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 4rem;
}

.section-center:hover {
  box-shadow: var(--dark-shadow);
}

.form h3 {
  color: var(--clr-primary-2);
  margin-bottom: 2rem;
  text-align: center;
}
.form-control {
  display: flex;
  justify-content: space-evenly;
}
#residence {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: var(--clr-primary-2);
  font-size: 1rem;
  flex: 1 0 auto;
}

.submit-btn {
  background: var(--clr-primary-2);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-primary-1);
  transition: var(--transition);
  font-size: 0.85rem;
}

.submit-btn:hover {
  background: #6BBCC7;
  color: var(--clr-white);
}

.q2btn {
  margin: auto;
  background: var(--clr-primary-2);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  content: var(--clr-primary-1);
  transition: var(--transition);
  font-size: 0.85rem;
}
.q2btn:hover {
  background: #6BBCC7;
  color: var(--clr-white);
}

.prevbtn {
  background: var(--clr-primary-2);
  border-color: transparent;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  content: var(--clr-primary-1);
  transition: var(--transition);
  font-size: 0.85rem;
}

.nextbtn {
  margin: auto;
  background: var(--clr-primary-2);
  border-color: transparent;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  content: var(--clr-primary-1);
  transition: var(--transition);
  font-size: 0.85rem;
}

.nextbtn:hover {
  background: #6BBCC7;
  color: var(--clr-white);
}

.prevbtn:hover {
  background: #6BBCC7;
  color: var(--clr-white);
}

.buttons {
  text-align: center;
}